:root{
    --color-main : #2AB34A;
    /*--backgroun-main : rgba(42, 179, 74 , 0.3);*/
    /*--backgroun-main : rgba(0, 0, 0,7);*/
    --backgroun-main : '';
}
.title{
    /*color: var(--color-main)!important;*/
}
.btn-main{
    background: var(--color-main)!important;
    color: white!important;
}
.btn-secondary{
    color: var(--color-main)!important;
}
.color-main{
    color: var(--color-main)!important;
}
.color-secondary{
    color: black!important;
}
.mobile-none{
    display: none!important;
}
input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary, button.primary, .button.primary {
    color: white!important;
}

.logo-main{
    margin-top: 1.5vw!important;
    width: 5vw!important;
}

@media (max-width: 992px) {
    .mobile-none{
        display: none!important;
    }
    .logo-main{
        margin-top: 4vw!important;
        width: 15vw!important;
    }
}
